<h1>Chats:</h1>


<script src="/socket.io/socket.io.js"></script>

<script>

    const socket = io(); // Utiliza 'io()' de la biblioteca cargada

    socket.on("1", ()=>{console.log("recibido")})

</script>
