<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> -CHAT- </title>
</head>
<body>
  <div id="chat-container">
    <div id="chat-messages">
      {{#each messages}}
        <div class="message">
          <span class="e-mail">{{e-email}}:</span>
          <span class="texto">{{mensaje}}</span>
        </div>
      {{/each}}
    </div>
    <div id="chat-input">
      <input type="text" id="message-input" placeholder="Escribi tu mensaje">
      <button onclick="sendMessage()">Enviar</button>
    </div>
  </div>
</body>
</html>
